.navbar {
    justify-content: space-between;
    background-color: #0b6dff;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
    font-weight: 500;
}

.item a {
    color: #fff;
    text-decoration: none;
    transition: 200ms;
}

.item a:hover {
    color: #04367e;
}

.logo {
    width: 40%;
    height: auto;
}